################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/.vs
/backend/Capstone/bin/Debug/net8.0
/backend/Capstone/obj
